*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.homepage {
    background-color: #C7F0BD;
    color: #3D0B37;
    width: 75%;
  margin: 10px auto;
  background-size: 200px 200px;
  animation: scroll 5s linear infinite;
  border: 10px solid #3D0B37;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 1px 4px -2px #333;
}
.homepage button {
    border-radius: 50%; 
    font-size: larger;
    color: #EAF2EF;
    margin: 10px;
    margin-top: 5%;
    position: relative;
    display: inline-block;
    padding: 15px;
    background-color: #3D0B37;
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: 0px 1px 4px -2px #333;
    text-shadow: 0px -1px #333;
    margin-bottom: 5px;
}
.homepage button:hover {
   background-color: #568259;
}
  .correct {
    background-color: #568259;
  }
   .incorrect {
    background-color: #FE5F55;
  }

  /* Heads Up Display
  /* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}